html {
  min-height: 100%;
}

html body {
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  color: blue;
  font-size: 24px;
}

html body .containerLogin {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .containerLogin .login {
  text-align: center;
  width: 500px;
  outline: 1px solid red;
}

html body .containerLogin .login .subTitle {
  font-size: 14px;
}

html body .container {
  visibility: hidden;
  outline: 1px solid red;
  width: 100%;
  display: none;
      grid-template-areas: "head head head" "mainHead  mainHead rightSide" "main1 main2 rightSide" "footer footer footer";
  -ms-grid-columns: 40% 40% auto;
      grid-template-columns: 40% 40% auto;
  -ms-grid-rows: auto 70px 370px 30px;
      grid-template-rows: auto 70px 370px 30px;
}

html body .container div {
  border: 0.5px solid #d7d7d7;
}

html body .container .head .shifts {
  display: inline;
  float: right;
  text-align: right;
}

html body .container .mainHead .btnAction, html body .container .mainHead .btnAction--rock, html body .container .mainHead .btnAction--paper, html body .container .mainHead .btnAction--scissors, html body .container .mainHead .btnAction--main1, html body .container .mainHead .btnAction--main2 {
  display: inline-block;
  height: 100%;
  width: 70px;
}

html body .container .mainHead .btnAction--rock {
  background-image: url("../img/rock.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

html body .container .mainHead .btnAction--paper {
  background-image: url("../img/paper.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

html body .container .mainHead .btnAction--scissors {
  background-image: url("../img/scissors.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

html body .container .mainHead .btnAction--main1 {
  background-image: url("../img/estudiante.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

html body .container .mainHead .btnAction--main2 {
  background-image: url("../img/fantasma.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
}

html body .container .mainHead .btnAction:hover, html body .container .mainHead .btnAction--rock:hover, html body .container .mainHead .btnAction--paper:hover, html body .container .mainHead .btnAction--scissors:hover, html body .container .mainHead .btnAction--main1:hover, html body .container .mainHead .btnAction--main2:hover {
  cursor: pointer;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

html body .container .btnOption, html body .container .btnOption--main1, html body .container .btnOption--main2 {
  display: inline-block;
  height: 150px;
  width: 170px;
}

html body .container .btnOption--main1 {
  background-image: url("../img/interrogacion.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

html body .container .btnOption--main2 {
  background-image: url("../img/interrogacion.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

html body .container .head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: head;
}

html body .container .mainHead {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: mainHead;
}

html body .container .main1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main1;
}

html body .container .main2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: main2;
}

html body .container .rightSide {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: rightSide;
}

html body .container .footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

@media (max-width: 1200px) {
  html body .container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto 70px 200px 50px 50px;
        grid-template-rows: auto 70px 200px 50px 50px;
        grid-template-areas: "head head" "mainHead mainHead" "main1 main2" "rightSide rightSide" "footer footer";
  }
  html body .poinregistre {
    display: inline;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 2px;
  }
}

@media (max-width: 388px) {
  html body .btnAction, html body .container .mainHead .btnAction--rock, html body .container .mainHead .btnAction--paper, html body .container .mainHead .btnAction--scissors, html body .container .mainHead .btnAction--main1, html body .container .mainHead .btnAction--main2 {
    display: inline-block;
    height: 100%;
    width: 18%;
  }
}
/*# sourceMappingURL=style.css.map */